<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
	   					   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd 
	   					   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
	   					   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd ">
	
	<!-- 读取db.properties -->
	<context:property-placeholder location="classpath:db.properties"/>
	<!-- 配置C3P0连接池 -->
	<bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}" ></property>
	    <property name="driverClass" value="${jdbc.driverClass}" ></property>
	    <property name="user" value="${jdbc.user}" ></property>
	    <property name="password" value="${jdbc.password}" ></property>
	</bean>
	<!-- 核心事务管理器 -->
	<bean name="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- 将SessionFactory配置至Spring容器中 -->
	<bean name="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties" >
		<props>
			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			<prop key="hibernate.show_sql">true</prop>
			<prop key="hibernate.format_sql">true</prop>
			<prop key="hibernate.hbm2ddl.auto">update</prop>
		</props>
		</property>
		<property name="mappingDirectoryLocations" value="classpath:com/doers/domain"></property>
	</bean>   
	
	<!-- Action -->
	<bean name="userAction" class="com.doers.Action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
		<property name="productionService" ref="productionService"></property>
	</bean>
	<bean name="resignAction" class="com.doers.Action.ResignAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean name="checkImgAction" class="com.doers.Action.CheckImgAction" scope="prototype"></bean>
	<bean name="productListAction" class="com.doers.Action.ProductListAction" scope="prototype">
		<property name="productionService" ref="productionService"></property>
	</bean>
	<bean name="ueditorAction" class="com.doers.Action.UeditorAction" scope="prototype">
		<property name="productionService" ref="productionService"></property>
		<property name="userService" ref="userService"></property>
	</bean>
	<bean name="productionDetailAction" class="com.doers.Action.ProductionDetailAction" scope="prototype">
		<property name="productionService" ref="productionService"></property>
	</bean>
	<bean name="baseDictAction" class="com.doers.Action.BaseDictAction" scope="prototype" >
		<property name="baseDictService" ref="baseDictService" ></property>
	</bean>
	<!-- Service -->
	<bean name="userService" class="com.doers.Service.Impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean name="productionService" class="com.doers.Service.Impl.ProductionServiceImpl">
		<property name="productionDao" ref="productionDao"></property>
	</bean>
	<bean name="baseDictService" class="com.doers.Service.Impl.BaseDictServiceImpl" >
		<property name="baseDictDao" ref="baseDictDao" ></property>
	</bean>
	<!-- Dao -->
	<bean name="userDao" class ="com.doers.Dao.Impl.UserDaoImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="productionDao" class="com.doers.Dao.Impl.ProductionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="baseDictDao" class="com.doers.Dao.Impl.BaseDictDaoImpl" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
</beans>